$background: rgb(13, 19, 26)
$orange: rgb(255, 126, 103)
$fade-gray: rgb(44,50,61)
$fade-white: rgb(193, 194, 198)

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'inter'

body
    padding: 0 10%
    background: $background
    color: white

nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 10vh

    ul
        color: $fade-white
        list-style: none
        display: flex
        justify-content: center
        align-items: center

        li
            margin-right: 10px

    button

.home

    height: 70vh
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    font-weight: 500

    h1
        line-height: 40px
        text-align: center

    span
        width: 100%
        display: flex
        justify-content: space-evenly
        button
            padding: 15px 25px
            border: none
            font-weight: bold

            border-radius: 5px
        .email
            background: $orange
        .resume
            background: $fade-gray
            color: $fade-white

.about
    height: auto
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

    h1
        margin: 20px 0

    p
        line-height: 30px
        color: $fade-white
        margin-bottom: 20px

    h2
        margin: 20px 0
        font-size: 20px

.skill-container
    margin-top: 10px
    width: 100%
    height: auto
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: center

    .container
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        margin: 0 10px
        i
            font-size: 50px
        p
            font-size: 12px
            text-align: center
